body {
    margin: 0;
}

nav {
    background-color: #D3D3D3;
    text-align: center;
    height: 50px;
}

ul {
    display: inline;
}

ul li {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 70px;
    padding: 10px;
}

a {
    display: block;
    text-decoration: none;
    color: #009900;
    width: 70px;
    padding: 6px;
}

a:hover {
    display: block;
    color: white;
    background-color: #009900;
    border-radius: 9px;

}